@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tendernessregular';
    src: url('fonts/tenderness-webfont.eot');
    src: url('fonts/tenderness-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tenderness-webfont.woff') format('woff'),
         url('fonts/tenderness-webfont.ttf') format('truetype'),
         url('fonts/tenderness-webfont.svg#tendernessregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyaregular';
    src: url('fonts/alegreya-regular-webfont.eot');
    src: url('fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alegreya-regular-webfont.woff') format('woff'),
         url('fonts/alegreya-regular-webfont.ttf') format('truetype'),
         url('fonts/alegreya-regular-webfont.svg#alegreyaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}