body {
	margin: 0;
	padding: 0;
	color: $text-color;
}

h1 {
	margin: $margin-bottom 0 $margin-bottom $margin-sides;
}
h2 {
	font-weight: normal;
	margin: 0;
}

a {
	text-decoration: none;
	color: $link-color;
	&:hover {
		text-decoration: underline;
	}
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}