body {
	background-color: $background;
	font-family: 'lato-lig', Verdana, sans-serif;
}

.header-wrapper {
	font-family: 'BebasNeue', Helvetica, sans-serif;
	font-size: 2.5em;
	a {
		color: $white;
	}
}

.wrapper-single {
	background-color: $bg-blocks;
}

/* COmmentaires */

.comment {
	margin-bottom: 20px;
	.children {
		padding-left: 10px;
		margin-top: 20px;
	}
	.avatar {
		float: left;
	}
	cite.fn {
		margin-left: 10px;
	}
	.says {
		display: none;
	}
	.comment-meta {
		margin-left: 42px;
	}
}
