/* Colors */

$white: #FFF;
$black: #000;

$background: #1fb4da;
$link-color: #194363;
$bg-blocks: #f8f9f9;

/* Sizes */

$width-main: 960px;
$square-small: 130px;
$square-normal: 290px;

$width-content: 600px;

$margin-bottom: 10px;
$margin-sides: 5px;